html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    border-collapse: collapse;
    border: 10px solid rgb(150, 150, 150);
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption {
    padding: 10px;
}

th, td {
    padding: 10px 15px;
    border: 2px solid rgb(150, 150, 150);
}

th {
    font-weight: bold;
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
}

tr:nth-child(odd) td { 
    background-color: rgb(245, 245, 245);
}

tr:nth-child(even) td {
    background-color: rgb(255, 255, 255);
}